@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  width: 100%;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: blueviolet;
  display: flex;
  /* justify-content: center; */
  overflow-x: hidden;
  font-family: 'Noto Sans Georgian', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.main {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.container {
  /* display: flex; */
  /* justify-content: center; */
  width: 30rem;
  height: auto;
  background-color: white;
}

.title {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 40px;
  letter-spacing: 1px;
}

.person {
  display: flex;
  justify-content: center;
  /* margin: 40px; */
}

.name {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: 10px;

  height: 0.25rem;
  font-size: small;
  letter-spacing: 1px;
  initial-letter: 1rem;
}

img {
  border-radius: 70%;
  width: 75px;
  height: 75px;
  margin: 10px;
  margin-left: 10px;
  object-fit: cover;
}

.btn-clear {
  margin: 10px;
  margin-left: 45px;
  display: flex;
  place-content: center;
  background-color: rgb(111, 9, 207);
  color: white;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  padding: 0.65rem;
  border-radius: 8px;
  width: 25rem;
}

li {
  list-style: none;
}